.navbar-style{
  background-color: rgb(172, 226, 224);
}
.logo-img-style{
  height:55px;
  width:55px;
}
.logo-text-style{
  margin:-25px 0px 0px 67px;
}
*{
  font-family:Arial, Helvetica, sans-serif;
}
main{
  min-height: 87vh;
}
footer{
  background-color: rgb(172, 226, 224);
  padding:10px;
  margin-top: 1rem;
}
marquee{
  margin-top: 1rem;
  font-size:1.5rem;
}
.p-style{
  text-align:justify;
}
.p1-style{
  text-align:justify;
}